.about-container{
     /* margin-top: -50px; */
    margin: -3rem 4rem;
    text-align: start;
}

.about-container h1{
    padding-bottom: 1rem;
    
}

.about-container p{
    padding-bottom: 2rem;
    margin-bottom: 20px;
}


  @media screen and (max-width : 850px) 
   {

    
    .about-container{
       margin: -3rem 1rem;
   }

   .about-container h1{
    padding-bottom: 5px;
    font-size: 20px;
}

.about-container p{
    padding-bottom: 2rem;
    margin-bottom: 20px;
}



  }
